<template>
  <el-main>
    <el-row :gutter="20">
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
        <h2>{{ data.title }}</h2>
        <p>{{ data.description }}</p>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
        <el-row :gutter="20">
          <el-col
            :xs="24"
            :sm="24"
            :md="12"
            :lg="12"
            :xl="12"
            v-for="(block, index) in data.blocks"
            :key="block.id"
          >
            <tile :value="block.value" @click="openBlock(index)" />
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </el-main>
  <el-dialog title="Good!" v-model="showModal">
    Good job on completing your collection!
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="showModal = false">Cancel</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>
import fixtures from "@/fixtures/mock.json";

import Tile from "@/view/components/Tile";

export default {
  name: "Collection",
  components: {
    Tile,
  },
  data() {
    return {
      data: fixtures,
      showModal: false,
    };
  },
  methods: {
    openBlock(index) {
      this.data.blocks[index].value = 100;
      const filtered = this.data.blocks.filter((block) => block.value === 100);
      if (filtered.length === 4) {
        this.showModal = true;
      }
    },
  },
};
</script>
