<template>
  <div class="nav-bar">
    <router-link to="/">
      Home
    </router-link>
    <router-link to="/collection">
      Collection
    </router-link>
  </div>
</template>

<script>
export default {
  name: "NavBar",
};
</script>

<style lang="scss" scoped>
.nav-bar {
  padding: 24px;
  border-bottom: 1px solid black;
  a {
    text-decoration: none;
    padding: 24px;
  }
}
</style>
