<template>
  <div class="tile" :class="{ active: value === 100 }">
    {{ value }}
  </div>
</template>

<script>
export default {
  name: "Tile",
  props: {
    value: {
      type: Number,
      default() {
        return 0;
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 24px;
  cursor: pointer;
}
.active {
  background-color: #c700ff3b;
}
</style>
